section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    padding-left: 20rem;
    padding-right: 20rem;

    form {
        width: 100%;

        .form-group {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .input {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 2px solid rgb(156, 156, 156);
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            background-color: #fff;
            border-radius: 3px;
            width: 50%;
            color: #000;

            i {
                color: rgb(156, 156, 156);
            }

            input, textarea {
                color: #000;
                border: 1px solid #fff;
                padding-left: 1rem;
                outline: none !important;
                width: 100%;

                ::placeholder {
                    color: rgb(156, 156, 156) !important;
                }
            }
        }

        .input-full {
            @extend .input;
            width: 100% !important;
        }

        button.main-btn {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

@media(max-width: 1067px){
    section.contact {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}